/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* 
    find a proper color theme!
    Possibly brown, green, pink ?
     */
    background-color: rgb(42, 42, 42);
    /* background-color: rgb(63, 62, 62); */
    /* background-color: rgb(139, 102, 65); */
    /* background-color: rgb(112, 83, 53); */
    /* background-color: rgb(75, 57, 37); */
    font-family: 'Mukta', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 0px 0px 23px 8px rgb(175, 110, 179);
}

.image-container {
    animation-duration: 3s;
    animation-timing-function: linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#welcome-text {
    animation-duration: 2s;
    color: white;
    position: absolute;
    width: 15%;
    margin-bottom: 40px;
}

#bio-image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(112, 80, 40);
    width: 100%;
}

.project-section-title {
    color: white;
    margin-bottom: 5%;
}


.projects-container {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 50vh;
    margin: auto;
    margin-bottom: 10%;
    box-shadow: 0px 0px 23px 8px rgb(112, 80, 40);
}

.toggle {
    cursor: pointer;
    border: none;
    text-align: center;
    transition-duration: 0.4s;
    padding: 5px;
    position: absolute;
    background-color: rgb(130, 225, 150);
    top: -23px;
}

.toggle:hover {
    box-shadow: 0px 0px 11px 1px #FFFFFF;
}

.project-img-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.project-img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.project-img:hover {
    opacity: 1;
}

.project-info-panel {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(130, 225, 150);
}

.footer-container {
    width: 80vw;
    margin: auto;
    background-color: rgb(175, 110, 179);
    margin-bottom: 5%;
    margin-top: 10vh;
    box-shadow: 0px 0px 20px -5px rgb(130, 225, 150);
}

@keyframes shrink-img-container {
    from{
        width: 100%;
    }

    to{
        width: 50%
    }
}

@keyframes dissolve {
    from {color: white;}
    to {
        color: rgba(255, 255, 255, 0);}
}

@media only screen and (max-width: 510px) {
    #welcome-text {
        font-size: 0.5rem;
    }
  }

  @media only screen and (min-width: 650px) {
    #welcome-text {
        font-size: 1.2rem;
    }
  }

  @media only screen and (min-width: 800px) {
    #welcome-text {
        font-size: 1.5rem;
    }
  }

  @media only screen and (min-width: 1200px) {
    #welcome-text {
        font-size: 2rem;
    }
  }