/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(224,159,230,1) 0%, rgba(134,61,26,1) 50%, rgba(56,145,147,1) 100%);
    font-family: 'Mukta', sans-serif;
    width: 100vw;
    min-height: 100vh;
}

#profile-photo {
    background-image: url('./images/profile-photo.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.488);
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    z-index: 2;
    margin-bottom: 2%;
    opacity: 0.85;
}

#about-me {
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.488);
    color: rgb(255, 255, 255);
    padding: 2%;
    border: 5px solid white;
}

#prj-link {
    color: white;
    transition: color 0.5s;
}

#prj-link:hover {
    color: rgb(65, 217, 219);
}

@media only screen and (max-width: 550px) {
    #profile-photo {
      width: 50vw;
      height: 50vw;
    }
  }