/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(224,159,230,1) 0%, rgba(208,121,80,1) 50%, rgba(124,246,249,1) 100%);
    animation-duration: 5s;
    animation-timing-function: linear;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

a {
    color: white;
}

.project-section-title {
    opacity: 0;
    animation-duration: 5s;
    animation-timing-function: linear;
    color: white;
    margin-bottom: 5%;
    margin-top: 5%;
    letter-spacing: 1rem;
}


.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    margin: auto;
}

.project-img-container {
    border: 10px solid white;
    border-radius: 10px;
}

.project-img {
    animation-duration: 5s;
    animation-timing-function: ease-in;
    opacity: 0;
    display: block;
    width: 100%;
    transition: opacity 1s;
}

/* ANIMATIONS */

@keyframes backgroundWave {
    0% {background: linear-gradient(90deg, rgba(224,159,230,1) 0%, rgba(134,61,26,1) 50%, rgba(56,145,147,1) 100%);}
    25% {background: linear-gradient(90deg, rgba(250,199,255,1) 0%, rgba(134,61,26,1) 50%, rgba(56,145,147,1) 100%);}
    50% {background: linear-gradient(90deg, rgba(224,159,230,1) 0%, rgba(208,121,80,1) 50%, rgba(56,145,147,1) 100%);}
    75% {background: linear-gradient(90deg, rgba(224,159,230,1) 0%, rgba(208,121,80,1) 50%, rgba(124,246,249,1) 100%);}
    100% {background: linear-gradient(90deg, rgba(224,159,230,1) 0%, rgba(208,121,80,1) 50%, rgba(124,246,249,1) 100%);}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0.5;}
}

@keyframes textFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}